{
  "TOON_KEY": "",
  "TOON_SECRET": "",
  "HOMEY_LOG_URL": "",
  "WEBHOOK_ID": "https://tools.developer.homey.app/webhooks -> create new 'Query Parameter' webhook || edit the existing one -> Copy the 'ID'",
  "WEBHOOK_SECRET": "https://tools.developer.homey.app/webhooks -> edit the same webhook as in 'WEBHOOK_ID' -> Copy the 'Secret'",
  "TOON_KEY_LOCAL": "",
  "TOON_SECRET_LOCAL": ""
}
